# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Environment / secrets
.env

# Local data (don’t push PDFs or vector DB)
data/chroma_store/
data/uploads/

# Streamlit artifacts
.streamlit/